[Unit]
Description=Watch and rebuild Operator local image
Wants=k3s.service
After=k3s.service

[Service]
Type=simple
User=root

Environment=SRC_DIR=/opt/octonaut/operator
Environment=IMAGE_NAME=docker.io/library/octonaut-operator:dev
Environment=OUT_DIR=/var/lib/rancher/k3s/agent/images
Environment=DEBOUNCE_SECONDS=1

ExecStart=/usr/local/bin/k3s-image-watch

Restart=always
RestartSec=2
KillMode=control-group

[Install]
WantedBy=multi-user.target
